body {
    cursor: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' width='25' height='25'%3E%3Cstyle%3E.a%7Bfill:%230074ff%7D%3C/style%3E%3Cpath fill-rule='evenodd' class='a' d='m1 1l23 11.5v11.5h-11.5zm12.5 21h8.6v-8.5l-16.3-7.7z'/%3E%3C/svg%3E"), auto;
}

h1,
h2,
h3,
h4,
p,
li {
    cursor: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' width='25' height='25'%3E%3Cstyle%3E.a%7Bfill:%230074ff%7D%3C/style%3E%3Cpath fill-rule='evenodd' class='a' d='m24 24l-23-11.5v-11.5h11.5zm-12.5-21h-8.6v8.5l16.3 7.7zm-1.6 4.5q0.1-0.1 0.2-0.1 0.2 0.1 0.3 0.2 0.1 0.1 0.1 0.3l1 3.5q0 0.1-0.1 0.2 0 0.1-0.2 0l-3.5-0.9q-0.2 0-0.3-0.1-0.1-0.2-0.2-0.3 0-0.2 0.1-0.2zm-1.7-2q0.2 0.1 0.3 0.2 0.1 0.1 0.1 0.3 0.1 0.2 0 0.2l-2.6 2.6q-0.1 0.1-0.2 0-0.2 0-0.3-0.1-0.1-0.1-0.2-0.3l-0.9-3.5q0-0.1 0.1-0.2 0-0.1 0.2-0.1z'/%3E%3C/svg%3E"), text;
}

button, a, .btn, img {
    cursor: url("data:image/svg+xml,%0A%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' width='25' height='25'%3E%3Cstyle%3E.a%7Bfill:%230074ff%7D%3C/style%3E%3Cpath fill-rule='evenodd' class='a' d='m1 1l23 11.5v11.5h-11.5z'/%3E%3C/svg%3E"), pointer;
}