/*-------------------------------------------------------------------------------------
                                    ADICIONAL STYLES
----------------------------------------------------------------------------------------*/

.lead {
    font-size: 120%;
}

.small {
    font-size: 80%;
}

.padding {
    padding: 15px !important;
}

.padding-x2 {
    padding: 30px !important;
}

.padding-x3 {
    padding: 60px !important;
}

.padding-x4 {
    padding: 90px !important;
}

.margin {
    margin: 15px !important;
}

.margin-x2 {
    margin: 30px !important;
}

.margin-x3 {
    margin: 60px !important;
}

.margin-x4 {
    margin: 90px !important;
}

@media (max-width: 575px) {
    .padding-x3,
    .padding-x4 {
        padding: 30px !important;
    }
    .margin-x3,
    .margin-x4 {
        margin: 30px !important;
    }
}
/*----------------------------------------------------------------------------------------
                                    SECTION BACKGROUND
-----------------------------------------------------------------------------------------*/
.bg,
.bg-wrap,
.nav-bg {
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-box {
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bg-box::before {
    display: block;
    content: "";
}


.bg-box.col-1,
.bg-box.col-2,
.bg-box.col-3,
.bg-box.col-4,
.bg-box.col-5,
.bg-box.col-6,
.bg-box.col-7,
.bg-box.col-8,
.bg-box.col-9,
.bg-box.col-10,
.bg-box.col-11,
.bg-box.col-12 {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
}

.bg-box.col-1:last-child,
.bg-box.col-2:last-child,
.bg-box.col-3:last-child,
.bg-box.col-4:last-child,
.bg-box.col-5:last-child,
.bg-box.col-6:last-child,
.bg-box.col-7:last-child,
.bg-box.col-8:last-child,
.bg-box.col-9:last-child,
.bg-box.col-10:last-child,
.bg-box.col-11:last-child,
.bg-box.col-12:last-child {
    right: 0;
    left: auto;
}


@media (max-width: 767px) {
    .bg-box[class*="col-sm-"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
    }

    .bg-box[class*="col-sm-"]:first-child {
        left: 0;
    }

    .bg-box[class*="col-sm-"]:last-child {
        right: 0;
    }
}

@media (min-width: 768px) {
    .bg-box[class*="col-md-"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
    }

    .bg-box[class*="col-md-"]:first-child {
        left: 0;
    }

    .bg-box[class*="col-md-"]:last-child {
        right: 0;
    }
}

@media (min-width: 1230px) {
    .bg-box[class*="col-lg-"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
    }

    .bg-box[class*="col-lg-"]:first-child {
        left: 0;
    }

    .bg-box[class*="col-lg-"]:last-child {
        right: 0;
    }
}

@media (min-width: 1600px) {
    .bg-box[class*="col-xl-"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
    }

    .bg-box[class*="col-xl-"]:first-child {
        left: 0;
    }

    .bg-box[class*="col-xl-"]:last-child {
        right: 0;
    }
}

.bg.parallax[data-rellax-speed="1"],
.bg.parallax[data-rellax-speed="-1"] {
    top: -10vh;
    bottom: -10vh;
}

.bg.parallax[data-rellax-speed="2"],
.bg.parallax[data-rellax-speed="-2"] {
    top: -20vh;
    bottom: -20vh;
}

.bg.parallax[data-rellax-speed="3"],
.bg.parallax[data-rellax-speed="-3"] {
    top: -30vh;
    bottom: -30vh;
}

.bg.parallax[data-rellax-speed="4"],
.bg.parallax[data-rellax-speed="-4"] {
    top: -40vh;
    bottom: -40vh;
}

.bg.parallax[data-rellax-speed="5"],
.bg.parallax[data-rellax-speed="-5"] {
    top: -50vh;
    bottom: -50vh;
}

.bg.parallax video {
    width: auto !important;
}

/*----------------------------------------------------------------------------------------
                                SECTION LAYOUTS
-----------------------------------------------------------------------------------------*/

.full-height {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-sep {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.section-sep.sep-center {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section-sep.sep-bottom {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.section-line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.section-line-container::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (min-width: 992px) {
    .section-line-container::after {
        max-width: 900px;
    }
}

@media (min-width: 1230px) {
    .section-line-container::after {
        max-width: 1170px;
    }
}

/*----------------------------------------------------------------------------------------
                                    FLOAT
-----------------------------------------------------------------------------------------*/

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

@media (min-width: 576px) {
    .float-sm-left {
        float: left !important;
    }

    .float-sm-right {
        float: right !important;
    }

    .float-sm-none {
        float: none !important;
    }
}

@media (min-width: 768px) {
    .float-md-left {
        float: left !important;
    }

    .float-md-right {
        float: right !important;
    }

    .float-md-none {
        float: none !important;
    }
}

@media (min-width: 1230px) {
    .float-lg-left {
        float: left !important;
    }

    .float-lg-right {
        float: right !important;
    }

    .float-lg-none {
        float: none !important;
    }
}

@media (min-width: 1600px) {
    .float-xl-left {
        float: left !important;
    }

    .float-xl-right {
        float: right !important;
    }

    .float-xl-none {
        float: none !important;
    }
}



/*----------------------------------------------------------------------------------------
                                    POSITION
-----------------------------------------------------------------------------------------*/

.position-static {
    position: static !important;
}

.position-relative {
    position: relative !important;
}

.position-inherit {
    position: inherit !important;
}

.position-absolute {
    position: absolute !important;
}

.position-fixed {
    position: fixed !important;
}

.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}

@media (max-width: 575px) {
    .zeroing-sm {
        position: relative !important;
        width: auto !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
}

@media (max-width: 767px) {
    .zeroing-md {
        position: relative !important;
        width: auto !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.t-0 {
    top: 0;
}

.t-25 {
    top: 25%;
}

.t-50 {
    top: 50%;
}

.t-75 {
    top: 75%;
}

.t-100 {
    top: 100%;
}

.r-0 {
    right: 0;
}

.r-25 {
    right: 25%;
}

.r-50 {
    right: 50%;
}

.r-75 {
    right: 75%;
}

.r-100 {
    right: 100%;
}

.b-0 {
    bottom: 0;
}

.b-25 {
    bottom: 25%;
}

.b-50 {
    bottom: 50%;
}

.b-75 {
    bottom: 75%;
}

.b-100 {
    bottom: 100%;
}

.l-0 {
    left: 0;
}

.l-25 {
    left: 25%;
}

.l-50 {
    left: 50%;
}

.l-75 {
    left: 75%;
}

.l-100 {
    left: 100%;
}

.centered {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.overall {
    position: relative;
    z-index: 10;
}

.underall {
    position: relative;
    z-index: -10;
}

.absolute-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-left,
.fixed-right,
.fixed-center {
    position: fixed;
    z-index: 1030;
    top: 0;
    bottom: 0;
}

.fixed-right {
    right: 0;
}

.fixed-left {
    left: 0;
}

.fixed-center {
    right: 0;
    left: 0;
}

.fixed-top,
.show-on-scroll,
.hide-on-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
        /*position: -webkit-sticky;*/
        /*position: sticky;*/
        top: 0;
        z-index: 1020;
    }
}

.show-on-scroll {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
}

.show-on-scroll.show {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.hide-on-scroll {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hide-on-scroll.hide {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
}



/*----------------------------------------------------------------------------------------
                                    WIDTH & HEIGHT
-----------------------------------------------------------------------------------------*/

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.vw-100 {
    width: 100vw !important;
}

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.mw-100 {
    max-width: 100% !important;
}

.mh-100 {
    max-height: 100% !important;
}




/*----------------------------------------------------------------------------------------
                        PADDING & MARGIN
-----------------------------------------------------------------------------------------*/

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pt-75 {
    padding-top: 75px !important;
}

.pb-75 {
    padding-bottom: 75px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.pb-150 {
    padding-bottom: 150px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pb-200 {
    padding-bottom: 200px !important;
}

.pt-250 {
    padding-top: 250px !important;
}

.pb-250 {
    padding-bottom: 250px !important;
}

.pt-300 {
    padding-top: 300px !important;
}

.pb-300 {
    padding-bottom: 300px !important;
}

.pt-350 {
    padding-top: 350px !important;
}

.pb-350 {
    padding-bottom: 350px !important;
}

.pt-400 {
    padding-top: 400px !important;
}

.pb-400 {
    padding-bottom: 400px !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mt--30 {
    margin-top: -30px !important;
}

.mb--30 {
    margin-bottom: -30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mt--50 {
    margin-top: -50px !important;
}

.mb--50 {
    margin-bottom: -50px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.mb-75 {
    margin-bottom: 75px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mt--100 {
    margin-top: -100px !important;
}

.mb--100 {
    margin-bottom: -100px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.mt-200 {
    margin-top: 200px !important;
}

.mb-200 {
    margin-bottom: 200px !important;
}

.mt--200 {
    margin-top: -200px !important;
}

.mb--200 {
    margin-bottom: -200px !important;
}

.mt-250 {
    margin-top: 250px !important;
}

.mb-250 {
    margin-bottom: 250px !important;
}

.mt-300 {
    margin-top: 300px !important;
}

.mb-300 {
    margin-bottom: 300px !important;
}

.mt--300 {
    margin-top: -300px !important;
}

.mb--300 {
    margin-bottom: -300px !important;
}

@media (max-width: 767px) {
    .pt-sm-0 {
        padding-top: 0 !important;
    }

    .pb-sm-0 {
        padding-bottom: 0 !important;
    }

    .pt-sm-10 {
        padding-top: 10px !important;
    }

    .pb-sm-10 {
        padding-bottom: 10px !important;
    }

    .pt-sm-20 {
        padding-top: 20px !important;
    }

    .pb-sm-20 {
        padding-bottom: 20px !important;
    }

    .pt-sm-30 {
        padding-top: 30px !important;
    }

    .pb-sm-30 {
        padding-bottom: 30px !important;
    }

    .pt-sm-50 {
        padding-top: 50px !important;
    }

    .pb-sm-50 {
        padding-bottom: 50px !important;
    }

    .pt-sm-75 {
        padding-top: 75px !important;
    }

    .pb-sm-75 {
        padding-bottom: 75px !important;
    }

    .pt-sm-100 {
        padding-top: 100px !important;
    }

    .pb-sm-100 {
        padding-bottom: 100px !important;
    }

    .pt-sm-150 {
        padding-top: 150px !important;
    }

    .pb-sm-150 {
        padding-bottom: 150px !important;
    }

    .pt-sm-200 {
        padding-top: 200px !important;
    }

    .pb-sm-200 {
        padding-bottom: 200px !important;
    }

    .pt-sm-250 {
        padding-top: 250px !important;
    }

    .pb-sm-250 {
        padding-bottom: 250px !important;
    }

    .pt-sm-300 {
        padding-top: 300px !important;
    }

    .pb-sm-300 {
        padding-bottom: 300px !important;
    }

    .pt-sm-350 {
        padding-top: 350px !important;
    }

    .pb-sm-350 {
        padding-bottom: 350px !important;
    }

    .pt-sm-400 {
        padding-top: 400px !important;
    }

    .pb-sm-400 {
        padding-bottom: 400px !important;
    }

    .mt-sm-auto {
        margin-top: auto !important;
    }

    .mb-sm-auto {
        margin-bottom: auto !important;
    }

    .mt-sm-0 {
        margin-top: 0px !important;
    }

    .mb-sm-0 {
        margin-bottom: 0px !important;
    }

    .mt-sm-10 {
        margin-top: 10px !important;
    }

    .mb-sm-10 {
        margin-bottom: 10px !important;
    }

    .mt-sm-20 {
        margin-top: 20px !important;
    }

    .mb-sm-20 {
        margin-bottom: 20px !important;
    }

    .mt-sm-30 {
        margin-top: 30px !important;
    }

    .mb-sm-30 {
        margin-bottom: 30px !important;
    }

    .mt-sm--30 {
        margin-top: -30px !important;
    }

    .mb-sm--30 {
        margin-bottom: -30px !important;
    }

    .mt-sm-50 {
        margin-top: 50px !important;
    }

    .mb-sm-50 {
        margin-bottom: 50px !important;
    }

    .mt-sm--50 {
        margin-top: 50px !important;
    }

    .mb-sm--50 {
        margin-bottom: -50px !important;
    }

    .mt-sm-75 {
        margin-top: 75px !important;
    }

    .mb-sm-75 {
        margin-bottom: 75px !important;
    }

    .mt-sm-100 {
        margin-top: 100px !important;
    }

    .mb-sm-100 {
        margin-bottom: 100px !important;
    }

    .mt-sm--100 {
        margin-top: -100px !important;
    }

    .mb-sm--100 {
        margin-bottom: -100px !important;
    }

    .mt-sm-150 {
        margin-top: 150px !important;
    }

    .mb-sm-150 {
        margin-bottom: 150px !important;
    }

    .mt-sm-200 {
        margin-top: 200px !important;
    }

    .mb-sm-200 {
        margin-bottom: 200px !important;
    }

    .mt-sm--200 {
        margin-top: -200px !important;
    }

    .mb-sm--200 {
        margin-bottom: -200px !important;
    }

    .mt-sm-250 {
        margin-top: 250px !important;
    }

    .mb-sm-250 {
        margin-bottom: 250px !important;
    }

    .mt-sm-300 {
        margin-top: 300px !important;
    }

    .mb-sm-300 {
        margin-bottom: 300px !important;
    }

    .mt-sm--300 {
        margin-top: -300px !important;
    }

    .mb-sm--300 {
        margin-bottom: -300px !important;
    }
}

@media (min-width: 768px) {
    .pt-md-0 {
        padding-top: 0 !important;
    }

    .pb-md-0 {
        padding-bottom: 0 !important;
    }

    .pt-md-10 {
        padding-top: 10px !important;
    }

    .pb-md-10 {
        padding-bottom: 10px !important;
    }

    .pt-md-20 {
        padding-top: 20px !important;
    }

    .pb-md-20 {
        padding-bottom: 20px !important;
    }

    .pt-md-30 {
        padding-top: 30px !important;
    }

    .pb-md-30 {
        padding-bottom: 30px !important;
    }

    .pt-md-50 {
        padding-top: 50px !important;
    }

    .pb-md-50 {
        padding-bottom: 50px !important;
    }

    .pt-md-75 {
        padding-top: 75px !important;
    }

    .pb-md-75 {
        padding-bottom: 75px !important;
    }

    .pt-md-100 {
        padding-top: 100px !important;
    }

    .pb-md-100 {
        padding-bottom: 100px !important;
    }

    .pt-md-150 {
        padding-top: 150px !important;
    }

    .pb-md-150 {
        padding-bottom: 150px !important;
    }

    .pt-md-200 {
        padding-top: 200px !important;
    }

    .pb-md-200 {
        padding-bottom: 200px !important;
    }

    .pt-md-250 {
        padding-top: 250px !important;
    }

    .pb-md-250 {
        padding-bottom: 250px !important;
    }

    .pt-md-300 {
        padding-top: 300px !important;
    }

    .pb-md-300 {
        padding-bottom: 300px !important;
    }

    .pt-md-350 {
        padding-top: 350px !important;
    }

    .pb-md-350 {
        padding-bottom: 350px !important;
    }

    .pt-md-400 {
        padding-top: 400px !important;
    }

    .pb-md-400 {
        padding-bottom: 400px !important;
    }

    .mt-md-auto {
        margin-top: auto !important;
    }

    .mb-md-auto {
        margin-bottom: auto !important;
    }

    .mt-md-0 {
        margin-top: 0 !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .mt-md-10 {
        margin-top: 10px !important;
    }

    .mb-md-10 {
        margin-bottom: 10px !important;
    }

    .mt-md-20 {
        margin-top: 20px !important;
    }

    .mb-md-20 {
        margin-bottom: 20px !important;
    }

    .mt-md-30 {
        margin-top: 30px !important;
    }

    .mb-md-30 {
        margin-bottom: 30px !important;
    }

    .mt-md--30 {
        margin-top: -30px !important;
    }

    .mb-md--30 {
        margin-bottom: -30px !important;
    }

    .mt-md-50 {
        margin-top: 50px !important;
    }

    .mb-md-50 {
        margin-bottom: 50px !important;
    }

    .mt-md--50 {
        margin-top: -50px !important;
    }

    .mb-md--50 {
        margin-bottom: -50px !important;
    }

    .mt-md-75 {
        margin-top: 75px !important;
    }

    .mb-md-75 {
        margin-bottom: 75px !important;
    }

    .mt-md-100 {
        margin-top: 100px !important;
    }

    .mb-md-100 {
        margin-bottom: 100px !important;
    }

    .mt-md--100 {
        margin-top: -100px !important;
    }

    .mb-md--100 {
        margin-bottom: -100px !important;
    }

    .mt-md-150 {
        margin-top: 150px !important;
    }

    .mb-md-150 {
        margin-bottom: 150px !important;
    }

    .mt-md-200 {
        margin-top: 200px !important;
    }

    .mb-md-200 {
        margin-bottom: 200px !important;
    }

    .mt-md--200 {
        margin-top: -200px !important;
    }

    .mb-md--200 {
        margin-bottom: -200px !important;
    }

    .mt-md-250 {
        margin-top: 250px !important;
    }

    .mb-md-250 {
        margin-bottom: 250px !important;
    }

    .mt-md-300 {
        margin-top: 300px !important;
    }

    .mb-md-300 {
        margin-bottom: 300px !important;
    }

    .mt-md--300 {
        margin-top: -300px !important;
    }

    .mb-md--300 {
        margin-bottom: -300px !important;
    }
}

@media (min-width: 1230px) {
    .pt-lg-0 {
        padding-top: 0 !important;
    }

    .pb-lg-0 {
        padding-bottom: 0 !important;
    }

    .pt-lg-10 {
        padding-top: 10px !important;
    }

    .pb-lg-10 {
        padding-bottom: 10px !important;
    }

    .pt-lg-20 {
        padding-top: 20px !important;
    }

    .pb-lg-20 {
        padding-bottom: 20px !important;
    }

    .pt-lg-30 {
        padding-top: 30px !important;
    }

    .pb-lg-30 {
        padding-bottom: 30px !important;
    }

    .pt-lg-50 {
        padding-top: 50px !important;
    }

    .pb-lg-50 {
        padding-bottom: 50px !important;
    }

    .pt-lg-75 {
        padding-top: 75px !important;
    }

    .pb-lg-75 {
        padding-bottom: 75px !important;
    }

    .pt-lg-100 {
        padding-top: 100px !important;
    }

    .pb-lg-100 {
        padding-bottom: 100px !important;
    }

    .pt-lg-150 {
        padding-top: 150px !important;
    }

    .pb-lg-150 {
        padding-bottom: 150px !important;
    }

    .pt-lg-200 {
        padding-top: 200px !important;
    }

    .pb-lg-200 {
        padding-bottom: 200px !important;
    }

    .pt-lg-250 {
        padding-top: 250px !important;
    }

    .pb-lg-250 {
        padding-bottom: 250px !important;
    }

    .pt-lg-300 {
        padding-top: 300px !important;
    }

    .pb-lg-300 {
        padding-bottom: 300px !important;
    }

    .pt-lg-350 {
        padding-top: 350px !important;
    }

    .pb-lg-350 {
        padding-bottom: 350px !important;
    }

    .pt-lg-400 {
        padding-top: 400px !important;
    }

    .pb-lg-400 {
        padding-bottom: 400px !important;
    }

    .mt-lg-auto {
        margin-top: auto !important;
    }

    .mb-lg-auto {
        margin-bottom: auto !important;
    }

    .mt-lg-0 {
        margin-top: 0 !important;
    }

    .mb-lg-0 {
        margin-bottom: 0 !important;
    }

    .mt-lg-10 {
        margin-top: 10px !important;
    }

    .mb-lg-10 {
        margin-bottom: 10px !important;
    }

    .mt-lg-20 {
        margin-top: 20px !important;
    }

    .mb-lg-20 {
        margin-bottom: 20px !important;
    }

    .mt-lg-30 {
        margin-top: 30px !important;
    }

    .mb-lg-30 {
        margin-bottom: 30px !important;
    }

    .mt-lg--30 {
        margin-top: -30px !important;
    }

    .mb-lg--30 {
        margin-bottom: -30px !important;
    }

    .mt-lg-50 {
        margin-top: 50px !important;
    }

    .mb-lg-50 {
        margin-bottom: 50px !important;
    }

    .mt-lg--50 {
        margin-top: -50px !important;
    }

    .mb-lg--50 {
        margin-bottom: -50px !important;
    }

    .mt-lg-75 {
        margin-top: 75px !important;
    }

    .mb-lg-75 {
        margin-bottom: 75px !important;
    }

    .mt-lg-100 {
        margin-top: 100px !important;
    }

    .mb-lg-100 {
        margin-bottom: 100px !important;
    }

    .mt-lg--100 {
        margin-top: -100px !important;
    }

    .mb-lg--100 {
        margin-bottom: -100px !important;
    }

    .mt-lg-150 {
        margin-top: 150px !important;
    }

    .mb-lg-150 {
        margin-bottom: 150px !important;
    }

    .mt-lg-200 {
        margin-top: 200px !important;
    }

    .mb-lg-200 {
        margin-bottom: 200px !important;
    }

    .mt-lg--200 {
        margin-top: -200px !important;
    }

    .mb-lg--200 {
        margin-bottom: -200px !important;
    }

    .mt-lg-250 {
        margin-top: 250px !important;
    }

    .mb-lg-250 {
        margin-bottom: 250px !important;
    }

    .mt-lg-300 {
        margin-top: 300px !important;
    }

    .mb-lg-300 {
        margin-bottom: 300px !important;
    }

    .mt-lg--300 {
        margin-top: -300px !important;
    }

    .mb-lg--300 {
        margin-bottom: -300px !important;
    }
}

@media (min-width: 1600px) {
    .pt-xl-0 {
        padding-top: 0 !important;
    }

    .pb-xl-0 {
        padding-bottom: 0 !important;
    }

    .pt-xl-10 {
        padding-top: 10px !important;
    }

    .pb-xl-10 {
        padding-bottom: 10px !important;
    }

    .pt-xl-20 {
        padding-top: 20px !important;
    }

    .pb-xl-20 {
        padding-bottom: 20px !important;
    }

    .pt-xl-30 {
        padding-top: 30px !important;
    }

    .pb-xl-30 {
        padding-bottom: 30px !important;
    }

    .pt-xl-50 {
        padding-top: 50px !important;
    }

    .pb-xl-50 {
        padding-bottom: 50px !important;
    }

    .pt-xl-75 {
        padding-top: 75px !important;
    }

    .pb-xl-75 {
        padding-bottom: 75px !important;
    }

    .pt-xl-100 {
        padding-top: 100px !important;
    }

    .pb-xl-100 {
        padding-bottom: 100px !important;
    }

    .pt-xl-150 {
        padding-top: 150px !important;
    }

    .pb-xl-150 {
        padding-bottom: 150px !important;
    }

    .pt-xl-200 {
        padding-top: 200px !important;
    }

    .pb-xl-200 {
        padding-bottom: 200px !important;
    }

    .pt-xl-250 {
        padding-top: 250px !important;
    }

    .pb-xl-250 {
        padding-bottom: 250px !important;
    }

    .pt-xl-300 {
        padding-top: 300px !important;
    }

    .pb-xl-300 {
        padding-bottom: 300px !important;
    }

    .pt-xl-350 {
        padding-top: 350px !important;
    }

    .pb-xl-350 {
        padding-bottom: 350px !important;
    }

    .pt-xl-400 {
        padding-top: 400px !important;
    }

    .pb-xl-400 {
        padding-bottom: 400px !important;
    }

    .mt-xl-auto {
        margin-top: auto !important;
    }

    .mb-xl-auto {
        margin-bottom: auto !important;
    }

    .mt-xl-0 {
        margin-top: 0 !important;
    }

    .mb-xl-0 {
        margin-bottom: 0 !important;
    }

    .mt-xl-10 {
        margin-top: 10px !important;
    }

    .mb-xl-10 {
        margin-bottom: 10px !important;
    }

    .mt-xl-20 {
        margin-top: 20px !important;
    }

    .mb-xl-20 {
        margin-bottom: 20px !important;
    }

    .mt-xl-30 {
        margin-top: 30px !important;
    }

    .mb-xl-30 {
        margin-bottom: 30px !important;
    }

    .mt-xl--30 {
        margin-top: -30px !important;
    }

    .mb-xl--30 {
        margin-bottom: -30px !important;
    }

    .mt-xl-50 {
        margin-top: 50px !important;
    }

    .mb-xl-50 {
        margin-bottom: 50px !important;
    }

    .mt-xl--50 {
        margin-top: 50px !important;
    }

    .mb-xl--50 {
        margin-bottom: -50px !important;
    }

    .mt-xl-75 {
        margin-top: 75px !important;
    }

    .mb-xl-75 {
        margin-bottom: 75px !important;
    }

    .mt-xl-100 {
        margin-top: 100px !important;
    }

    .mb-xl-100 {
        margin-bottom: 100px !important;
    }

    .mt-xl--100 {
        margin-top: -100px !important;
    }

    .mb-xl--100 {
        margin-bottom: -100px !important;
    }

    .mt-xl-150 {
        margin-top: 150px !important;
    }

    .mb-xl-150 {
        margin-bottom: 150px !important;
    }

    .mt-xl-200 {
        margin-top: 200px !important;
    }

    .mb-xl-200 {
        margin-bottom: 200px !important;
    }

    .mt-xl--200 {
        margin-top: -200px !important;
    }

    .mb-xl--200 {
        margin-bottom: -200px !important;
    }

    .mt-xl-250 {
        margin-top: 250px !important;
    }

    .mb-xl-250 {
        margin-bottom: 250px !important;
    }

    .mt-xl-300 {
        margin-top: 300px !important;
    }

    .mb-xl-300 {
        margin-bottom: 300px !important;
    }

    .mt-xl--300 {
        margin-top: -300px !important;
    }

    .mb-xl--300 {
        margin-bottom: -300px !important;
    }
}

/*-----------------  HORIZONTAL  ------------------*/

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-50 {
    margin-right: 50px !important;
}


@media (min-width: 576px) {
    .pl-sm-0 {
        padding-left: 0 !important;
    }

    .pr-sm-0 {
        padding-right: 0 !important;
    }

    .pl-sm-15 {
        padding-left: 15px !important;
    }

    .pr-sm-15 {
        padding-right: 15px !important;
    }

    .pl-sm-30 {
        padding-left: 30px !important;
    }

    .pr-sm-30 {
        padding-right: 30px !important;
    }

    .pl-sm-50 {
        padding-left: 50px !important;
    }

    .pr-sm-50 {
        padding-right: 50px !important;
    }

    .pl-sm-100 {
        padding-left: 100px !important;
    }

    .pr-sm-100 {
        padding-right: 100px !important;
    }

    .ml-sm-auto {
        margin-left: auto !important;
    }

    .mr-sm-auto {
        margin-right: auto !important;
    }

    .ml-sm-0 {
        margin-left: 0 !important;
    }

    .mr-sm-0 {
        margin-right: 0 !important;
    }

    .ml-sm-10 {
        margin-left: 10px !important;
    }

    .mr-sm-10 {
        margin-right: 10px !important;
    }

    .ml-sm-20 {
        margin-left: 20px !important;
    }

    .mr-sm-20 {
        margin-right: 20px !important;
    }

    .ml-sm-30 {
        margin-left: 30px !important;
    }

    .mr-sm-30 {
        margin-right: 30px !important;
    }

    .ml-sm-50 {
        margin-left: 50px !important;
    }

    .mr-sm-50 {
        margin-right: 50px !important;
    }
}

@media (min-width: 768px) {
    .pl-md-0 {
        padding-left: 0 !important;
    }

    .pr-md-0 {
        padding-right: 0 !important;
    }

    .pl-md-15 {
        padding-left: 15px !important;
    }

    .pr-md-15 {
        padding-right: 15px !important;
    }

    .pl-md-30 {
        padding-left: 30px !important;
    }

    .pr-md-30 {
        padding-right: 30px !important;
    }

    .pl-md-50 {
        padding-left: 50px !important;
    }

    .pr-md-50 {
        padding-right: 50px !important;
    }

    .pl-md-100 {
        padding-left: 100px !important;
    }

    .pr-md-100 {
        padding-right: 100px !important;
    }

    .ml-md-auto {
        margin-left: auto !important;
    }

    .mr-md-auto {
        margin-right: auto !important;
    }

    .ml-md-0 {
        margin-left: 0 !important;
    }

    .mr-md-0 {
        margin-right: 0 !important;
    }

    .ml-md-10 {
        margin-left: 10px !important;
    }

    .mr-md-10 {
        margin-right: 10px !important;
    }

    .ml-md-20 {
        margin-left: 20px !important;
    }

    .mr-md-20 {
        margin-right: 20px !important;
    }

    .ml-md-30 {
        margin-left: 30px !important;
    }

    .mr-md-30 {
        margin-right: 30px !important;
    }

    .ml-md-50 {
        margin-left: 50px !important;
    }

    .mr-md-50 {
        margin-right: 50px !important;
    }
}

@media (min-width: 1230px) {
    .pl-lg-0 {
        padding-left: 0 !important;
    }

    .pr-lg-0 {
        padding-right: 0 !important;
    }

    .pl-lg-15 {
        padding-left: 15px !important;
    }

    .pr-lg-15 {
        padding-right: 15px !important;
    }

    .pl-lg-30 {
        padding-left: 30px !important;
    }

    .pr-lg-30 {
        padding-right: 30px !important;
    }

    .pl-lg-50 {
        padding-left: 50px !important;
    }

    .pr-lg-50 {
        padding-right: 50px !important;
    }

    .pl-lg-100 {
        padding-left: 100px !important;
    }

    .pr-lg-100 {
        padding-right: 100px !important;
    }

    .ml-lg-auto {
        margin-left: auto !important;
    }

    .mr-lg-auto {
        margin-right: auto !important;
    }

    .ml-lg-0 {
        margin-left: 0 !important;
    }

    .mr-lg-0 {
        margin-right: 0 !important;
    }

    .ml-lg-10 {
        margin-left: 10px !important;
    }

    .mr-lg-10 {
        margin-right: 10px !important;
    }

    .ml-lg-20 {
        margin-left: 20px !important;
    }

    .mr-lg-20 {
        margin-right: 20px !important;
    }

    .ml-lg-30 {
        margin-left: 30px !important;
    }

    .mr-lg-30 {
        margin-right: 30px !important;
    }

    .ml-lg-50 {
        margin-left: 50px !important;
    }

    .mr-lg-50 {
        margin-right: 50px !important;
    }
}

@media (min-width: 1600px) {
    .pl-xl-0 {
        padding-left: 0 !important;
    }

    .pr-xl-0 {
        padding-right: 0 !important;
    }

    .pl-xl-15 {
        padding-left: 15px !important;
    }

    .pr-xl-15 {
        padding-right: 15px !important;
    }

    .pl-xl-30 {
        padding-left: 30px !important;
    }

    .pr-xl-30 {
        padding-right: 30px !important;
    }

    .pl-xl-50 {
        padding-left: 50px !important;
    }

    .pr-xl-50 {
        padding-right: 50px !important;
    }

    .pl-xl-100 {
        padding-left: 100px !important;
    }

    .pr-xl-100 {
        padding-right: 100px !important;
    }

    .ml-xl-auto {
        margin-left: auto !important;
    }

    .mr-xl-auto {
        margin-right: auto !important;
    }

    .ml-xl-0 {
        margin-left: 0 !important;
    }

    .mr-xl-0 {
        margin-right: 0 !important;
    }

    .ml-xl-10 {
        margin-left: 10px !important;
    }

    .mr-xl-10 {
        margin-right: 10px !important;
    }

    .ml-xl-20 {
        margin-left: 20px !important;
    }

    .mr-xl-20 {
        margin-right: 20px !important;
    }

    .ml-xl-30 {
        margin-left: 30px !important;
    }

    .mr-sxl30 {
        margin-right: 30px !important;
    }

    .ml-xl-50 {
        margin-left: 50px !important;
    }

    .mr-xl-50 {
        margin-right: 50px !important;
    }
}
/*----------------------------------------------------------------------------------------
                                    TEXT
-----------------------------------------------------------------------------------------*/

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

@media (max-width: 520px) {
    iframe {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }

    .text-sm-right {
        text-align: right !important;
    }

    .text-sm-center {
        text-align: center !important;
    }
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important;
    }

    .text-md-right {
        text-align: right !important;
    }

    .text-md-center {
        text-align: center !important;
    }
}

@media (min-width: 1230px) {
    .text-lg-left {
        text-align: left !important;
    }

    .text-lg-right {
        text-align: right !important;
    }

    .text-lg-center {
        text-align: center !important;
    }
}

@media (min-width: 1600px) {
    .text-xl-left {
        text-align: left !important;
    }

    .text-xl-right {
        text-align: right !important;
    }

    .text-xl-center {
        text-align: center !important;
    }
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

.border-solid {
    border: solid 5px black;
}

.img__slider--1 {
    z-index: 1;
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://smu.mx/wp-content/uploads/2023/01/BANNER-HORIZONTAL-PARA-PAGINA-WEB-SMU-2.jpg');
}

.img__slider--2 {
    z-index: 1;
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://smu.mx/wp-content/uploads/2022/05/slider-home.png');
}

.img__slider--3 {
    z-index: 1;
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://smu.mx/wp-content/uploads/2022/01/sesiones2.png');
}

.zindex-5 {
    z-index: 5;
}

img {
    width: 100%;
}

.z-depth-0 {
    box-shadow: 0 0 0 0;
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.padding-0 {
    padding: 0 !important;
    margin: 0 !important;
}

.img-logo {
    width: 200px;
}